.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.containar{
    width: 600px;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    background-color: gainsboro;
}
h1{
    margin-bottom: 10px;
}
.para{
    display: none;
}
.para2{
    visibility: hidden;
}