*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.grid-containar{
    width: 600px;
    background-color: aqua;
    margin: 50px auto;

}
.item{
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: gray;
}