*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.containar{
    width: 100vw;
    margin: 20px auto;
    border: 1px solid red;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* gap: 1rem; */
    /* flex-wrap: wrap; */


}
.box{
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 75px;
    align-items: flex-end;
    border-radius: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */


}
.child1{
    background-color: blue;
}
.child2{
    background-color: azure;

}
.child3{
    background-color:forestgreen;
}